body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: url('img/fundo.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  color: white;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.container img {
  width: 120px;
  display: block;
  margin: 0 auto 15px;
  filter: drop-shadow(0 0 30px rgba(212,175,55,0.5));
}

h1 {
  text-align: center;
  color: #d4af37;
}

input, select, button {
  width: 100%;
  margin: 12px 0;
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  box-sizing: border-box; /* 🔥 ESSENCIAL */
}

input, select {
  background: #2a2a2a;
  color: white;
  height: 48px;
}

button {
  background: #d4af37;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #b8962e;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}